@model Forum.Service.ViewModels.Themes.FullThemeViewModel

@{
    ViewBag.Title = "Подробнее о теме";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>Название темы: @Model.Title</p>
        </div>
        <div class="col">
            <p>Дата создания: @Model.DateOfCreate</p>
        </div>
        <div class="col">
            <p>Создал тему: @Model.User.UserName</p>
        </div>
    </div>
    <div class="w-50">
        <span>Описаниие темы: @Model.Content</span>
    </div>
    <div class="col border border-2 border-dark p-3">
        <div class="row" id="commentContainer">
            <form asp-antiforgery="true" type="post">
                <div>
                    <textarea class="w-100" id="commentTheme" placeholder="Оставьте свой ответ"></textarea>
                </div>
                <button userName="@User.Identity.Name" Id="commentThemeBtn" themeId="@Model.Id" class="btn btn-info">Отправить</button>
            </form>
        </div>
        <div id="commetBlock">
        @if (Model.Messages.Any())
        {
            foreach (var message in Model.Messages)
            {
                <div class="media row mt-5">
                    <div class="col-2">
                        <div class="mr-3 rounded-circle border border-dark border-1">
                            <img class="w-100 mr-3 rounded-circle" src="@message.User.Avatar" alt="@message.User.UserName">
                        </div>
                        <h5 class="mt-1 mx-2">@message.User.UserName</h5>
                    </div>
                    <div class="col-8 px-2">
                        <small class="text-muted">@message.DateOfSend</small>
                        <div class="w-50">
                            <span>@message.Content</span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Ваш комментарий будет первым</h2>
        }
        </div>
    </div>
</div>
